.collapse{
    ul{
        li{
            #nav-link{padding-left: 15px;}
        }
    }
}
.rezome{position: relative; margin-top: -45px;}
.icon{margin-right: 410px; position: absolute;}
.icon2{color: aliceblue;margin-right: 280px ; ; position: absolute;}
