.container .cube1 { width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto 0;
    
    
}
.cube1{
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    
  }
  #top{background-color: blueviolet; transform: translateZ(100px);}
#back{transform: translateZ(-100px) rotateX(180deg);background-color: blueviolet;}
#right{transform: rotateY(90deg) translateZ(100px);background-color: blueviolet;}
#left{transform: rotateY(-90deg) translateZ(100px);background-color: blueviolet;}
#top{transform: rotatex(90deg) translateZ(100px);background-color: blueviolet;}
#bottom{transform: rotateX(-90deg) translateZ(100px);background-color: blueviolet;}
.cube{text-align: center;
line-height: 200px;
margin: 100px;
padding-left: 20px;
position: absolute;

}
.cube p{font-size: 30px;font-weight: bolder;}
