<div class="container">
    <h2>مهارتها</h2>
    <hr><hr>
    <div class="row">
        <div class="col-sm-6 ">
            <ul>
                <li>html5</li>
                <li>css3</li>
                <li>bootstrap5</li>
                <li>sass</li>
                <li>javascript</li>
                <li>angularjs</li>
                <li>Es6</li>
                <li>git & github</li>
                <li>typescript</li>
                <li>wordpress</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="box3 "><p>html5</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>css3</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>bootstrap5</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>javascript</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>angularjs</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>typescript</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>sass</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>git&github</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>Es6</p></div>
                      </div>
                      <div class="carousel-item">
                        <div class="box3"><p>wordpress</p></div>
                      </div>
                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
           
        </div>
    </div>
</div>

   


