<div id="cube">
  <div class="container ">
    <div class="cube">
      <div class="face front"><div class="text"><p>html5<br>css3</p></div></div>
      <div class="face back"><div class="text"><p>sass&Es6</p></div></div>
      <div class="face right"><div class="text"><p>angularjs</p></div></div>
      <div class="face left "><div class="text"><p>git&github</p></div></div>
      <div class="face top"><div class="text"><p>javascript<br>wordpress</p></div></div>
      <div class="face bottom"><div class="text"><p>git&github</p></div></div>
    </div>
  </div>
</div>