.container{
    background-color: #60a3bc;
}
.title{text-align: center; font-size: 40px; font-weight: bold; background-color: aqua;}
footer{background-color: #34495e; margin: 10px 25px 10px 25px;
height: 180px;color: aliceblue; direction: ltr; padding: 25px;}