<div class="container">
    <div class="title">درباره من</div>
    <hr><hr>
    <p><strong>نام و نام خانوادگی:</strong>مرتضی معماریان</p><br>
    <p><strong>تاریخ تولد:</strong>1370/07/22</p><br>
    <p><strong>تحصیلات:</strong>کارشناسی مدیریت بازرگانی</p><br>
    <p><strong>محل سکونت:</strong>مشهد-امام هادی9-پلاک29</p><br>
</div>
<footer>
   
    <p><img src="https://img.icons8.com/windows/32/null/gmail.png"/><br><strong>gmail:</strong>morteza.memariansa70@gmail.com</p>
    <p><img src="https://img.icons8.com/android/20/000000/phone-disconnected.png"/><br><strong>tel:</strong>09157118565</p>
   
</footer>